@import url("https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lightgallery.css");
@import url("https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-zoom.css");
@import url("https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-video.css");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  padding: 40px;
  background-image: linear-gradient(#e8f0ff 0%, white 52.08%);
  color: #0e3481;
  min-height: 100vh;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.tagline {
  display: flex;
  justify-content: right;
  width: 55vw;
  margin-bottom: 20px;
  font-style: italic;
}

.gallery {
  column-count: 4;
  column-gap: 20px;
  line-height: 0;
}

.gallery__item img {
  width: 100% !important;
  height: auto !important;
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.gallery__item img:hover {
  transform: scale(1.05);
}

@media (max-width: 992px) {
  .gallery {
    column-count: 2;
  }
}

@media (max-width: 576px) {
  .gallery {
    column-count: 1;
  }
}
