.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.photo-grid {
  column-count: 3;
  column-gap: 20px;
  line-height: 0;
}

.photo-grid img {
  width: 100% !important;
  height: auto !important;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  .photo-grid {
    column-count: 2;
  }
}

@media (max-width: 576px) {
  .photo-grid {
    column-count: 1;
  }
}
